.App {
  text-align: center;
}
.App .ant-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.selected-row {
  background-color: #f2f2f2;
}
.ant-segmented .ant-segmented-item-selected {
  background-color: #8282ff;
  color: white;
}
.custom-segmented .ant-segmented-item-selected {
  border: #8282ff solid;
  background-color: white;
  color: #8282ff;
}
:where(.css-dev-only-do-not-override-1mb9uag).ant-list-split .ant-list-item {
  border-block-end: 0;
}
/* :where(.css-dev-only-do-not-override-1mb9uag).ant-list-split .ant-list-header {
  border-block-end: 0;
} */
.custom-list .ant-list-item {
  padding: 0;
}
.ant-list-grid .ant-col > .ant-list-item {
  margin-block-end: 0;
}
