/* AdSlider.css */
.slick-slide {
  height: 25rem;
  width: 100%;
  margin-top: 4rem;
}

.slick-slide div {
  transition: all ease-in-out 0.3s;
  background-color: lightgray;
  height: 20rem;
}

.slick-slide.slick-active.slick-center.slick-current div {
  background-color: gray;
  transform: scale(1.1);
  position: relative;
  border-radius: 5px;
  width: 51vw;
}

.slick-slide.active {
  transform: scale(1.1);
  background-color: gray;
}

/* 수정사항 */
.slick-center {
  transform: translateX(-25%);
}
@media (max-width: 768px) {
  .slick-slide {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .slick-slide.slick-active.slick-center.slick-current div {
    background-color: gray;
    position: relative;
    border-radius: 5px;
    width: 100%;
  }
  .slick-center {
    transform: translateX(0%);
  }
}
