.slick-slide {
  height: 25rem;
  width: 100%;
  margin-top: 4rem;
}

.slick-slide div {
  transition: all ease-in-out 0.3s;
  background-color: lightgray;
  height: 20rem;
}

.slick-slide.slick-active.slick-center.slick-current div {
  background-color: gray;
  transform: scale(1.1);
  width: 46.5vw;
  position: relative;
  border-radius: 5px;

  left: -2vw;
}
.slick-slide.active {
  transform: scale(1.1);
  background-color: gray;
}

.slick-slide.active {
  width: 51vw;
}
