.slick-slide {
  height: 25rem;
}
.slick-slider .slick-slide {
  margin-top: 4rem;
  border-radius: 5px;
}
.slick-slide div {
  transition: all ease-in-out 0.3s;
  background-color: lightgray;
  height: 20rem;
}

/* .slick-center div {
  width: 60rem;
  background-color: gray;
  transform: scale(1.1);
} */
/* .slick-active {
} */
.slick-active div {
  border-radius: 5px;
}
.slick-slide.slick-active.slick-center.slick-current div {
  background-color: gray;
  width: 50vw;
  margin-left: -5vw;

  transform: scale(1.1);
}
